@use 'breakpoints';

body {
}

.app {
  min-height: 100vh;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  max-width: 1400px;
  margin: 0 auto;

  @include breakpoints.lg {
    flex-direction: row;
    gap: 1rem;
  }
}

.info {
  margin-bottom: 1rem;
  text-align: center;
}

.controls {
  margin-top: auto;
  display: grid;
  justify-content: center;

  .info {
    display: none;
  }

  @include breakpoints.lg {
    align-self: flex-start;
    margin-top: 0;

    .info {
      display: block;
    }
  }
}

.ctrls {
  --ctrls-width: 22rem;
  --ctrls-label-width: 7rem;
  --ctrls-c: 0.05;
  --ctrls-bg: oklch(0.99 0.005 var(--ctrls-h) / 0.8);
  --ctrls-text: oklch(0.01 0.005 var(--ctrls-h));
  --ctrls-text-muted: oklch(0.5 0.005 var(--ctrls-h));

  @media (prefers-color-scheme: dark) {
    // Backgrounds and text
    --ctrls-c: 0.15;
    --ctrls-bg: oklch(0.27 0.005 var(--ctrls-h) / 0.8);
    --ctrls-text: oklch(0.95 0.005 var(--ctrls-h)); // text
    --ctrls-text-muted: oklch(0.75 0.005 var(--ctrls-h));
  }

  width: 100%;
  max-width: 100%;

  @include breakpoints.md {
    width: var(--ctrls-width);
    --ctrls-label-width: 8rem;
  }
}

.drawing-wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  position: sticky;
  top: 1rem;
  margin-bottom: 1rem;

  @include breakpoints.lg {
    margin-bottom: 0;
    max-height: calc(100vh - 2rem);
    max-height: calc(100svh - 2rem);

    .info {
      display: none;
    }
  }
}

.drawing {
  max-height: 80vh;
  max-height: 80svh;

  @include breakpoints.lg {
    max-height: calc(100vh - 2rem);
    max-height: calc(100svh - 2rem);
  }
}

.loader,
.drawing svg {
  background: black;
  margin: 0 auto;
  max-width: 100%;
  max-height: 100%;
  border-radius: 8px;
}

.loader {
  color: white;
  aspect-ratio: 1;
  display: grid;
  place-items: center;
  font-family:
    ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace;
  font-size: 0.75rem;
  font-weight: bold;
}
