@use 'breakpoints';

body {
}

.app {
  min-height: 100vh;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  max-width: 1400px;
  margin: 0 auto;

  @include breakpoints.lg {
    flex-direction: row;
    gap: 1rem;
  }
}

.controls {
  margin-top: auto;

  @include breakpoints.md-only {
    grid-template-columns: repeat(2, calc(50% - 0.25rem));
  }

  @include breakpoints.lg {
    align-self: flex-start;
    margin-top: 0;
  }
}

.ctrls {
  --ctrls-width: 22rem;
  --ctrls-c: 0.05;
  --ctrls-bg: oklch(0.99 0 var(--ctrls-h) / 0.8);
  --ctrls-text: oklch(0.01 0 var(--ctrls-h));
  --ctrls-text-muted: oklch(0.5 0 var(--ctrls-h));

  width: var(--ctrls-width);
  max-width: 100%;

  @media (prefers-color-scheme: dark) {
    // Backgrounds and text
    --ctrls-c: 0.15;
    --ctrls-bg: oklch(0.27 0 var(--ctrls-h) / 0.8);
    --ctrls-text: oklch(0.95 0 var(--ctrls-h)); // text
    --ctrls-text-muted: oklch(0.75 0 var(--ctrls-h));
  }

  @include breakpoints.md {
    --ctrls-label-width: 7rem;
  }
}

.drawing {
  flex-grow: 1;
  max-height: 80vh;
  max-height: 80svh;
  margin-bottom: 1rem;
  position: sticky;
  top: 1rem;

  @include breakpoints.lg {
    max-height: calc(100vh - 2rem);
    max-height: calc(100svh - 2rem);
    margin-bottom: 0;
  }
}

.loader,
.drawing svg {
  background: black;
  margin: 0 auto;
  max-width: 100%;
  border-radius: 8px;
  max-width: 100%;
  max-height: 100%;
}

.loader {
  color: white;
  aspect-ratio: 1;
  display: grid;
  place-items: center;
  font-family:
    ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace;
  font-size: 0.75rem;
  font-weight: bold;
}

canvas {
  display: block;
  width: 100%;
}

.canvas-wrapper {
  aspect-ratio: 1;
  border: 1px solid rgb(240 240 255 / 0.2);
  border-radius: 12px;
  background: black;
  overflow: hidden;
}
